<section id="header">
    <div id="toggle">
        <button class="fa fa-bars"></button>
    </div>
    <div id="about">
        <h1>Jeff Moore</h1>
        <img src="{{ url_for('static', filename='images/default_profile.jpg')}}" />
        <h3><i class="fa-solid fa-code"></i> Programmer&emsp;<i class="fa-solid fa-briefcase"></i> Salesman</h3>
    </div>
    <hr>
    <div id="resume">
        <a href="{{ url_for('static', filename='resume.pdf')}}" download="jeff_moore_resume">
            <i class="fa-solid fa-file-pdf"></i>&emsp;Resume
        </a>
    </div>
    <hr>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
</section>
