:root {
    --bg-color:     #2E3440;
    --fg-color:     #3B4252;
    
    --btn-color:    #D8DEE9;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    background-color: var(--bg-color);
}

body > * {
    margin: auto;
}

header {
    background-color: lightyellow;
}

nav a {
    display: inline-block;

    padding: 1rem;

    text-decoration: none;
}

nav a:not(:first-child) {
    display: none;
}

nav.toggle {
    position: relative;
}

nav.toggle a {
    float: none;
    display: block;
}

nav.toggle a:last-child {
    position: absolute;
    right: 0;
    top: 0;
}


nav a:last-child {
    display: inline-block;
    float: right;
}

main {
    background-color: var(--fg-color);
    min-height: 100vh;
}

footer {
    padding-top: 3rem;
    padding-bottom: 4rem;

    font-size: 1.1rem;
    text-align: center;

    background-color: lightcoral;
}

footer div {
    padding-top: 1.3rem;
}

footer a {
    padding: 0 1rem 0 1rem;

    font-size: 2rem;
    text-decoration: none;

    color: black;
}

/* large phones, portrait tablets */
@media only screen and (min-width: 600px) {
    nav a:not(:first-child) {
        display: inline-block;
    }
    nav a:last-child {
        display: none;
    }
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
    body > * {
        max-width: 90vw;
    }
}

/* small laptops/desktops */
@media only screen and (min-width: 992px) {
    body > * {
        max-width: 80vw;
    }
}

/* large laptops/desktops */
@media only screen and (min-width: 1200px) {
    body > * {
        max-width: 70vw;
    }
}
