@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import "include/header.css";
@import "include/footer.css";

:root {
    --bg-color:     #2E3440;
    --fg-color:     #3B4252;
    --ln-color:     #A3BE8C;
    --txt-color:    #ECEFF4;
    --btn-color:    #D8DEE9;
    --sdw-color:    #263238;
    --nav-color:    #434C5E;
}
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
    font-size: 1em;
}

body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;

    height: 100%;
    width: 0;

    box-shadow: 0px 2px 5px 0px var(--sdw-color), 0px 1px 10px 0px var(--sdw-color), 0px 2px 4px -1px var(--sdw-color);

    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

main div:first-child {
    display: inline-block;

    width: 100%;
    padding: 1rem;

    text-align: right;
}

main button {
    color: var(--txt-color);
    font-size: 2rem;

    border: none;
    background: transparent;
    cursor: pointer;
}

main button:hover {
    color: var(--ln-color);
}

/* large phones, portrait tablets */
@media only screen and (min-width: 600px) {
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
}

/* small laptops/desktops */
@media only screen and (min-width: 992px) {
    header {
        width: 30vw;
    }

    main {
        margin-left: 30vw;
    }

    main button {
        display: none;
    }

    footer {
        margin-left: 30vw; 
    }
}

/* large laptops/desktops */
@media only screen and (min-width: 1200px) {
}
