@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import "include/header.css";
@import "include/footer.css";

:root {
    --bg-color:     #2E3440;
    --fg-color:     #3B4252;
    --ln-color:     #A3BE8C;
    --txt-color:    #ECEFF4;
    --btn-color:    #D8DEE9;
    --sdw-color:    #263238;
    --nav-color:    #4C566A;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
    font-size: 1em;
}

body {
    background-color: var(--bg-color);
}

header {
    display: none;
}

main {
    margin: auto;

    min-height: 100vh;
}

/* large phones, portrait tablets */
@media only screen and (min-width: 600px) {
    main {
        max-width: 82.5vw;
    }
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
    header {
        display: block;

        position: fixed;
        top: 0;

        height: 100vh;
        width: 30vw;
    }

    main {
        margin-left: 30vw;
    }

    footer {
        margin-left: 30vw; 
    }
}

/* small laptops/desktops */
@media only screen and (min-width: 992px) {
}

/* large laptops/desktops */
@media only screen and (min-width: 1200px) {
}
