#about {
    margin: auto;
    padding: 2rem;

    text-align: center;
}

#about h1 {
    font-family: 'Satisfy', cursive;
    font-size: calc(2.5rem + 2vw);
}

#about h2 {
    font-size: 1rem;
}

#about h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

#about img {
    display: block;

    margin: 3rem auto 3rem auto;

    max-width: 160px;
    height: auto;

    border-radius: 50%;
}

#about p {
    font-size: 1.1rem;
    text-align: justify;
}

#resume {
    margin: auto;
    padding: 2rem;
    padding-bottom: 4rem;

    text-align: center;
}

#resume a {
    display: block;

    margin: auto;
    padding: 1rem;

    max-width: 50%;

    color: var(--bg-color);
    background-color: var(--btn-color);

    font-size: 1.3rem;
    text-decoration: none;

    border: 1px solid var(--sdw-color);
    border-radius: 1rem;

    box-shadow: 0px 5px 0px 0px var(--sdw-color);
}

#resume a:active {
    box-shadow: 0px 5px 0px 0px var(--sdw-color) inset;

    transform: translate(0, 5px);
}

hr {
    margin: auto;
    max-width: 75%;
}

/* large phones, portrait tablets */
@media only screen and (min-width: 600px) {
}

/* landscape tablets */
@media only screen and (min-width: 768px) {
    #about {
        width: 70%;
    }

    #resume {
        width: 70%;
    }
}

/* small laptops/desktops */
@media only screen and (min-width: 992px) {
}

/* large laptops/desktops */
@media only screen and (min-width: 1200px) {
    #about {
        width: 50%;
    }

    #resume {
        width: 70%;
    }
}
