#footer {
    padding-top: 3rem;
    padding-bottom: 4rem;

    color: var(--txt-color);

    font-size: 1.1rem;
    text-align: center;
}

#footer div {
    padding-top: 1.3rem;
}

#footer a {
    padding: 0 1rem 0 1rem;

    font-size: 2rem;
    text-decoration: none;

    color: var(--txt-color);
}

