{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects/index.css')}}">
{% endblock %}

{% block content %}
    <section id="projects">
        <h1>Projects</h1>
        <hr>
        <div id="grid">
        {% for project in projects %}
            <a id="project-{{ project.id }}"
               href="/projects/{{ project.id }}">
                <h2>{{ project.name }}</h2>
                <img src={{ url_for('static', filename='images/placeholder.jpg') }} />
                <p>{{ project.short_desc }}</p>
            </a>
        {% endfor %}
        </div>
    </section>
{% endblock %}
