{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog/index.css')}}">
{% endblock %}

{% block content %}
    <section id="blog">
        {% for post in posts %}
            <article id="post-{{ post.id }}">
                <h1>{{ post.title }}</h1>
                <p>{{ post.created.strftime('%B %d, %Y') }}</p>
                <hr>
                <p>
                    {{ post.body[:1000] }}
                    {% if post.body|length > 1000 %}
                        ...
                    {% endif %}
                </p>
                <span>
                    <a href="/blog/{{ post.id }}">
                        Continue reading&nbsp;
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </span>
            </article>
        {% endfor %}
{% endblock %}
