{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog/index.css')}}">
{% endblock %}

{% block content %}
    <section id="blog">
        {% for post in posts %}
            <article id="post-{{ post.id }}">
                <h1>{{ post.title }}</h1>
                <p>{{ post.created }}</p>
                <hr>
                <p>{{ post.body }}</p>
            </article>
        {% endfor %}
{% endblock %}
