{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog/post.css')}}">
{% endblock %}

{% block content %}
    <section id="post">
        <a href="/">
            <i class="fa-solid fa-arrow-left"></i>
            &nbsp;Blog
        </a>
        <article>
            <h1>{{ post.title }}</h1>
            <p>{{ post.created.strftime('%B %d, %Y') }}</p>
            <hr>
            <p>{{ post.body }}</p>
        </article>
    </section>
{% endblock %}
