#projects {
    padding: 1rem;
}

#projects h1 {
    font-family: 'Satisfy', cursive;
    font-size: calc(2.5rem + 2vw);
    text-align: center;
}

#projects hr {
    margin: 1rem 0;
}

#projects #grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

#projects #grid button {
    margin: 1rem 0;
}

#projects #grid button *:first-child {
    margin-bottom: 1rem;
    text-align: center;
}

#projects #grid button *:last-child {
    margin-top: 1rem;
}

#projects #grid button img {
    max-width: 100%;
    height: auto;

    border-radius: 5px;
}
