#project {
    padding: 1rem;
}

#project h1 {
    margin: 1rem;
    text-align: center;
}

#project img {
    max-width: 100%;
    height: auto;

    border-radius: 5px;
}

#project #links {
    display: flex;
    margin: 1rem;

    text-align: center;
}

#project #links a {
    margin: auto;

    color: var(--ln-color);
    font-size: 1.2rem;
    text-decoration: none;
}

#project #description p {
    margin: 1rem 0;
    text-align: justify;
}
