<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jeff's personal website">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    {% block styles %}{% endblock %}

    <script src="https://kit.fontawesome.com/9efd1a0b98.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/base.js')}}"></script>
    {% block scripts %}{% endblock %}

    <title>Jeff - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div><i class="fa-regular fa-bars"></i></div>
        <nav>
            Test
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright © 2023 Jeffrey Moore</p>
        <div>
            <a href="https://github.com/jeffhasagithub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="mailto:jeffmooreweb@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
    </footer>
</body>
</html>
