<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jeff's personal website">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    {% block styles %}{% endblock %}

    <script src="https://kit.fontawesome.com/9efd1a0b98.js" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='js/base.js')}}"></script>
    {% block scripts %}{% endblock %}

    <title>Jeff - {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% include "include/header.html" %}
    </header>
    <main>
        <div>
            <button><i class="fa fa-bars"></i></button>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% include "include/footer.html" %}
    </footer>
</body>
</html>
