{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <section id="about">
        <h1>Jeff Moore</h1>
        <img src="{{ url_for('static', filename='images/default_profile.jpg')}}" />
        <h3><i class="fa-solid fa-code"></i> Programmer&emsp;<i class="fa-solid fa-briefcase"></i> Salesman</h3>
        <p>
            By day, I am a Pump Applications Engineer at DXP Enterprises in Grand
            Prairie, TX. I work with customers to select and price a range of
            centrifugal and positive displacement pumps to meet the needs of their
            application and budget. In the evening, I enjoy programming in a variety of
            languages including C, C++, Python, and Javascript.
        </p>
    </section>
    <section id="resume">
        <a href="{{ url_for('static', filename='resume.pdf')}}" download="jeff_moore_resume">
            <i class="fa-solid fa-file-pdf"></i>&emsp;Resume
        </a>
    </section>
    <hr>
    <section id="projects">
        <div id="project">
            <img src="{{ url_for('static', filename='images/placeholder.jpg')}}" />
            <div>
                <h1><a href={{ projects[0].url }}>{{ projects[0].name }}</a></h1>
                <p>{{ projects[0].description }}</p>
            </div>
        </div>
    </section>
{% endblock %}
